<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">

      <mat-card class="example-card">
        <mat-card-content>
          <p class="name">Welcome {{ alumni.name }} to the JNV Nalbari Silver Jubilee Celebration</p>

          <img src="{{ qrfile}}" />

          <p class="batch">Batch {{ batchRange }}</p>

          <p><i>Note: Download Digital Id Card from <a class="btn btn-info" routerLink="/alumni/profile">profile section</a></i></p>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
