<div class="container">
  <div class="row">
    <div class="col-md-12">

      <app-overlayspinner *ngIf="fetching"></app-overlayspinner>

      <p><b>Title: {{ story.title }}</b></p>
      <p>Created By: <a routerLink="/profile/{{alumnus.id}}"><span  class="text-custom">{{ alumnus.name }} ( Batch - {{ alumnus.batch}})</span></a></p>
      <hr class="text-custom" />
      <div [innerHTML]="story.content"></div>
      <hr class="text-custom" />
      <p><b>Published on: </b><span class="text-custom">{{ story.publishedDate | date}} </span>&nbsp; <button type="button" *ngIf="isOwner || isAdmin" (click)="disable()" class="btn btn-danger"><i class="fa fa-trash"></i> &nbsp;Delete</button> </p>
      <hr class="text-custom" />
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">

      <label>Comment Section ({{ comments?.length }}):</label>

      <app-comment  *ngFor="let c of comments" [comment]="c" (search)="commentAdded()"></app-comment>

      <hr class="text-custom" />

      <app-addcomment [story]="story" (search)="commentAdded()" *ngIf="isLoggedIn"></app-addcomment>



    </div>
  </div>
</div>

