<div class="container bootstrap snippets bootdey">

  <div class="row" *ngIf="isNameNotSet()">
    <div class="col-lg-12">
      <div class="alert alert-danger" role="alert">
        Please update your name and batch. Rest of the site is accessible only if the name and batch are updated.
      </div>
    </div>
  </div>

  <h1 class="text-primary">Edit Profile</h1>
    <hr>
    <form class="form-horizontal" role="form" [formGroup]="parentFG" (ngSubmit)="save()">
      <div class="row">
          <!-- left column -->


            <div formGroupName="alumniInfoFG">
              <div class="col-md-3">
                <div class="text-center">
                  <img [src]="image" class="avatar img-circle img-thumbnail" alt="avatar">
                  <h6>Upload a different photo...</h6>

                  <input type="file" class="form-control" (change)="onselectfile($event)">

                </div>
              </div>

              <!-- edit form column -->
              <div class="col-md-9 personal-info">
                <h3>Personal info</h3>
                  <div class="form-group">
                    <label class="col-lg-3 control-label">Name: <span class="text-danger">*</span></label>
                    <div class="col-lg-8">
                      <input class="form-control" type="text" formControlName="name">
                    </div>
                  </div>
                    <div class="form-group">
                      <label class="col-lg-3 control-label">Phone:</label>
                      <div class="col-lg-8">
                        <label class="form-control" type="text">{{ alumni.phone }}</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-lg-3 control-label">Email:</label>
                      <div class="col-lg-8">
                        <input class="form-control" type="text" formControlName="email">
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-lg-3 control-label">Batch/ Teacher: <span class="text-danger">*</span></label>
                      <div class="col-lg-8">
                        <select class="form-control" id="country" formControlName="batch" [(ngModel)]="alumni.batch">
                          <option [ngValue]="null" disabled>--Select Batch/ Teacher--</option>
                          <option *ngFor="let c of batches" [ngValue]="c">{{c}}</option>
                      </select>
                      </div>
                    </div>

                  <div class="form-group">
                    <label class="col-lg-3 control-label">About Me:</label>
                    <div class="col-lg-8">
                      <quill-editor [styles]="{height: '100px',width: '100vh'}" formControlName="aboutMe" trackChanges="all" [modules]="modules">
                      </quill-editor>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-3 control-label">Address:</label>
                    <div class="col-lg-8">
                      <textarea class="form-control" formControlName="address"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-3 control-label">House in JNV:</label>
                    <div class="col-lg-8">
                      <select class="form-control" id="country" formControlName="houseInJNV" [(ngModel)]="alumniInfo.houseInJNV">
                        <option value="">--Select house--</option>
                        <option *ngFor="let c of houses" [ngValue]="c">{{c}}</option>
                    </select>
                    </div>
                  </div>
              </div>
              </div>

      </div>
      <div class="row">

        <div class="col-md-3">

        </div>
        <div class="col-md-9">

          <hr />

          <div formGroupName="professionalInfoFG">
            <h4>Professional Info</h4>
              <div class="form-group">
                <label class="col-lg-3 control-label">Profession:</label>
                <div class="col-lg-8">
                  <select class="form-control" id="country" formControlName="profession" [(ngModel)]="professionalInfo.profession">
                    <option value="">--Select Profession--</option>
                    <option *ngFor="let c of professions" [ngValue]="c">{{c}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Designation:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text"  formControlName="designation">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Organization:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text"  formControlName="organization">
                </div>
              </div>

          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-md-3">

        </div>
        <div class="col-md-9">

          <hr />
          <div formGroupName="socialInfoFG">
            <h4>Social Info</h4>
              <div class="form-group">
                <label class="col-lg-3 control-label">Facebook:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text" formControlName="facebook">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Twitter:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text"  formControlName="twitter">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">LinkedIn:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text"  formControlName="linkedIn">
                </div>
              </div>

          </div>

        </div>

      </div>

      <div class="row col-md-12 text-center">
        <input [disabled]="alumniInfoFG.invalid" type="submit" class="btn btn-primary" value="Save changes">&nbsp;&nbsp;<a (click)="back()" class="btn btn-warning">Back</a>
      </div>


    </form>
</div>

<app-overlayspinner *ngIf="saving"></app-overlayspinner>
