<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><a routerLink="/alumni/stories/{{story.id}}">{{ story.title }}</a></mat-card-title>
    <mat-card-subtitle><b>Added on: </b><span class="text-custom">{{ story.publishedDate | date}} </span> | <b>By:</b> <a routerLink="/alumni/profile/{{alumnus.id}}"><span  class="text-custom">{{ alumnus.name }} ( Batch - {{ alumnus.batch}})</span></a></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <a routerLink="/alumni/stories/{{story.id}}">
    <p>{{story.excerpts}}</p>
  </a>
  </mat-card-content>
</mat-card>
<br />
