<div class="container"  *ngIf="isAdmin">
  <div class="row register-phone">
    <div class="col-md-12">
      <a href="" routerLink="/alumni/phoneregister" class="btn btn-success pull-left"><i class="fa fa-user"></i>Register Phone Number</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row register-phone">
    <div class="col-md-12">
      <span class="badge badge-secondary"><b>Total Registered:</b> {{ reg }}</span>
    </div>
  </div>
</div>

<div class="container">
  <div class="row register-phone">
    <div class="col-md-12">
      <app-chart></app-chart>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
          <table class="table re" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
              <tr>
                <th scope="col">Batch</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th *ngIf="isAdmin" scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let alumni of alumniData">
                <td><b>{{alumni.batch}}</b></td>
                <td><a routerLink="/alumni/profile/{{ alumni.id  }}" >{{alumni.name}}</a></td>
                <td >{{ alumni.phone }}</td>
                <td *ngIf="isAdmin" ><a class="label label-success" (click)="sendCred(alumni)">Send Credential</a>&nbsp;<a class="label label-success" (click)="sendCredInWhatsApp(alumni)"><i class="fa fa-whatsapp"></i></a>&nbsp;<a class="label label-danger" (click)="disable(alumni)"><span class="fa fa-trash"></span></a></td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
      </div>


    </div>
  </div>
</div>
