<div>
  <div class="row">
  <div class="col-md-12">
    <h3><a routerLink="/alumni/discussions/{{story.id}}">{{ story.title }}</a></h3>
    <p>{{story.excerpts}}</p>
    <p><b>Added on: </b><span class="text-custom">{{ story.publishedDate | date}} </span> | <b>By:</b> <a routerLink="/alumni/profile/{{alumnus.id}}"><span  class="text-custom">{{ alumnus.name }} ( Batch - {{ alumnus.batch}})</span></a> | <b>Total Comments: </b><span class="text-custom">({{ story.commentIds}})</span></p>
  </div>
</div>
<hr class="text-custom" />
</div>
