
<div class="container">
  <div class="row">
      <div class="col-md-2">

      </div><!--.col -->
      <div class="col-md-8">
          <h3>
            Add Notice
          </h3>

        <!-- NOTE: TB3 form width default is 100%, so they expan to your <div> -->
          <form name="frmComment" id="frmComment" [formGroup]="storyFG" (ngSubmit)="save()">
              <label for="txtComment">Title:</label>
              <input type="text" formControlName="title" class="form-control" placeholder="Title goes here">
              <br>

              <label for="txtComment">Story:</label>
          <quill-editor [styles]="{height: '250px'}" formControlName="content" trackChanges="all" [modules]="modules">
          </quill-editor>

          <br>

          <div class="row">
            <div class="col-md-12">
              <input type="submit" class="btn btn-primary" value="Save changes">&nbsp;&nbsp;<a (click)="back()" class="btn btn-warning">Back</a>
            </div>

          </div>



        </form>
      </div><!--.col -->
      <div class="col-md-2">

      </div><!--.col -->
  </div><!--./row -->
  </div><!--./container -->
