<div class="container bootstrap snippets bootdey">

  <div class="row">
    <div class="col-lg-12">
      <div class="alert alert-info" role="alert">
        First time login? Please add your name, select batch and click on proceed.
      </div>
    </div>
  </div>

<form class="form-horizontal" role="form" [formGroup]="alumniFG" (ngSubmit)="saveAlumni()">
    <div class="row">
        <!-- left column -->

        <div>
            
            <!-- edit form column -->
            <div class="col-md-12 personal-info">
                <div class="form-group">
                  <label class="col-lg-3 control-label">Name: <span class="text-danger">*</span></label>
                  <div class="col-lg-8">
                    <input class="form-control" type="text" formControlName="name">
                  </div>
                </div>
                  <div class="form-group">
                    <label class="col-lg-3 control-label">Batch/ Teacher: <span class="text-danger">*</span></label>
                    <div class="col-lg-8">
                      <select class="form-control" id="country" formControlName="batch">
                        <option [ngValue]="null" disabled>--Select Batch/ Teacher--</option>
                        <option *ngFor="let c of batches" [ngValue]="c">{{c}}</option>
                    </select>
                    </div>
                  </div>                
            </div>
        </div>

    </div>

    <div class="row col-md-12 text-center">
      <input [disabled]="alumniFG.invalid" type="submit" class="btn btn-success" value="Proceed  >>">
    </div>
  </form>
</div>

<app-overlayspinner *ngIf="saving"></app-overlayspinner>