<div class="container">
    <div class="row">
      <div class="col-md-12">
        <a class="btn btn-success pull-left" href="https://www.jnvnaa.in"> Go to Silver Jubilee Celebration Page</a>
      </div>  
    </div>

    <hr class="text-custom" />

    <a class="btn btn-info" href="https://forms.gle/mRqk79SzSo2fiTZQ8" target="_blank">JNV Nalbari Silver Jubilee Registration Form</a>

    <hr class="text-custom" />

    <a href="#gr" data-toggle="collapse"> >> Google form Registration status</a>
    <div id="gr" class="collapse">
      <app-gr></app-gr>
    </div>

    <hr class="text-custom" />

    <a href="#themesong" data-toggle="collapse"> >> Presented Theme Songs</a>
    <div id="themesong" class="collapse">
      <app-themesong></app-themesong>
    </div>    

    <hr class="text-custom" />

    <a href="#committee" data-toggle="collapse"> >> JNV Nalbari Silver Jubilee Celebration Committee</a>
    <div id="committee" class="collapse">
      <app-committee></app-committee>
    </div>

    <hr class="text-custom" />

    <a href="#br" data-toggle="collapse"> >> JNV Nalbari Silver Jubilee Celebration - Batch Representatives</a>
    <div id="br" class="collapse">
      <app-batchrepresentatives></app-batchrepresentatives>
    </div>

    <hr class="text-custom" />
  </div>