<div class="container">
    <div class="row">
      <div class="col-md-12">
        <a class="btn btn-success pull-left" href="https://www.jnvnaa.in"> Go to Silver Jubilee Celebration Page</a>
      </div>
  
    </div>
    <hr class="text-custom" />

    <a href="#themesong" class="btn btn-success" data-toggle="collapse">Presented Theme Songs</a>
    <div id="themesong" class="collapse">
      <app-themesong></app-themesong>
    </div>    

    <hr class="text-custom" />

    <a href="#committee" class="btn btn-success" data-toggle="collapse">JNV Nalbari Silver Jubilee Celebration Committee</a>
    <div id="committee" class="collapse">
      <app-committee></app-committee>
    </div>
  </div>