<div class="container">
    <div class="row">
      <div class="col-md-12">
        <a class="btn btn-success pull-left" href="https://www.jnvnaa.in"> Go to Silver Jubilee Celebration Page</a>
      </div>
  
    </div>
    <hr class="text-custom" />

    <div class="row">
      <div class="col-md-12">
        <app-videoplayer [src]="themeSongByTRUrl"></app-videoplayer>
        <h3>Silver Jubilee Theme song submitted by Thulunga Ramchiary-batch 2005-2006</h3>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-md-12">
        <app-videoplayer [src]="firstThemeSongUrl"></app-videoplayer>
        <h3>First Theme song - Cultural Committee</h3>
      </div>
    </div>
  </div>