<div class="container">
  <div class="row">

    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-12">
              <a href="#" class="active" id="login-form-link">Change Password</a>
            </div>
          </div>
          <hr>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <form id="login-form" [formGroup]="passwordFG" (ngSubmit)="save()" role="form" style="display: block;">
                <div class="form-group">
                  <input type="text" formControlName="oldPassword" tabindex="1" class="form-control" placeholder="Current Password" value="">
                </div>
                <div class="form-group">
                  <input type="password" formControlName="newPassword"  tabindex="2" class="form-control" placeholder="New Password">
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <input type="submit" class="btn btn-primary" value="Save changes">&nbsp;&nbsp;<a (click)="back()" class="btn btn-warning">Back</a>
                    </div>
                  </div>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>

