
  <div class="container"  *ngIf="isNotEdit && isLoggedIn">
    <div class="row">
      <div class="col-md-12">
        <button type="button" (click)="enableEdit()" class="btn btn-success pull-left"><i class="fa fa-plus"></i> Add your story</button>
      </div>
    </div>
    <hr class="text-custom" />
  </div>

<div class="container"  *ngIf="isNotEdit">
  <div class="row">
    <div class="col-md-12">

      <app-storyexcerpt *ngFor="let st of stories" [story]="st"></app-storyexcerpt>
  </div>
</div>
</div>

<app-addstory *ngIf="isEdit" (search)="editCompleted()"></app-addstory>
